* {
    font-family: cursive;
}

.bg {
    background-image: url("https://img.freepik.com/premium-vector/illustration-italian-cartoon-chef-with-freshly-baked-pizza_159379-340.jpg?w=2000");
    background-size: 50%;
}